nav a
{
	 text-decoration: none;
	 color: #fff;
}

nav ul {
 
  display: block;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  color: #fff;
  width: 200px;
 
 
}
nav ul li {
  font: bold 12px/18px sans-serif;
  display: block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #000;
  

}
nav ul li:hover {
  background: #f00;
}
nav ul li ul {
  padding: 0;
  top: 48px;
  left: 0;
  width: 130px;
  display: none;

}
nav ul li ul li { 
  background: #f00; 
  display: block; 
  text-shadow: 0 -1px 0 #000;
}
nav ul li ul li:hover 
{

	background: #000;
	width: 100%;
 
}
nav ul li:hover ul {
  display: block;
  }
  
  section
  {
	position:fixed;
	background-color: gray;
	width: 930px;
	height: 400px;;
	top: 200px;
	left: 250px;
	
  }
  #map
  {
	position: relative;
	float: right;
	top: -120px;
	height: 80%;
	width: 46%;
	border: 0px;
	
  }
   aside
  {
	position: relative;
	float:right;
	top: -250px;
	left: -152px;
  }
  #contactDetails
  {
	position: relative;
	float: right;
	top: -330px;
  }
  .imageCarousel
  {
	position:fixed; 
	width:100%;
	
  }
  .mySlides
  {
	 width: 1100px;
	height: 400px;;
	  
  }
  .myAudi
  {
	  position:absolute;
	  width: 1000px;
	  height:400px;
	  visibility: hidden;
	 
  }
  #colourPicker
  {
	  position: relative;
	
  }
  .colour
  {
	  margin:10px;
	  display: block;
	  width:50px;
	  color: white;
  }
  .preview
  {
	  width: 300px;
	  height: 120px;;
  }
  .vehiclePrice
  {
	  margin-left:10px;
  }
  .products{
			list-style:none;
			margin-right:0px;
			padding:0px;
			height:100%;
		}
		.products li{
			display:inline;
			float:left;
			margin:5px;
			position:relative;
		}
		.item{
			display:block;
			text-decoration:none;
		}
		.item img{
			   border: 1px solid #eee;
    /* border-radius: 50%; */
    /* padding: 20px; */
    background-color: #fff;
    max-width: 220px;
		}
		.item p{
			margin:0;
			font-weight:bold;
			text-align:center;
			color:#c3c3c3;
		}
		.cart{
		height: 300px;
		}
		.cartcontent
		{
			width:300px;
			height:auto; 
			margin: 5px;
		}
		
		h1{
			text-align:center;
			color:#fff;
		}
		h2{
			position:absolute;
			font-size:16px;
			left:10px;
			bottom:20px;
			color:#555;
		}
		.total{
			position: fixed;
			margin:0;
			text-align:right;
			padding-right:20px;
			top: 500px;
		}
		.priceHolder{
	
    bottom: 20px;
    background-color: #333;
    padding: 5px;
    left: 50%;
		}
		.cartcontent
		{
			position:fixed;
		}
		